{% extends 'base.html.twig' %}

{% block title %}Home Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="fs-1">
                    Welkom {{ app.user.fname }}!
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="fs-6">
                    Dit is de admin pagina.
                </div>
            </div>
        </div>
        {% if app.user.master %}
            <div class="row">
                <div class="col">
                    <div class="fs-6">
                        Jij bent de meester van {{ app.user.master }}
                    </div>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Titel</th>
                    <th scope="col">Beschrijving</th>
                    <th scope="col">Datum</th>
                    <th scope="col">Wie</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for story in stories %}
                    <tr>
                        <th scope="row">{{ story.title }}</th>
                        <td>{{ story.description }}</td>
                        <td>{{ story.date|date('d/m/Y') }}</td>
                        <td>{{ story.user.fname }}</td>
                        <td>
                            <a class="btn btn-danger" href="{{ path('admin_delete', { 'id' : story.id }) }}">
                                Delete
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
